/**
* Styles for wp-admin area
*/
.offset-s1 {
    margin-left: calc((100/(12/1))*1%) !important;
}
.offset-s2 {
    margin-left: calc((100/(12/2))*1%) !important;
}
.offset-s3 {
    margin-left: calc((100/(12/3))*1%) !important;
}

/**
* Styles for options pages
*/
.jtzwp_options_page_form .settingsWrapper table.form-table {
    margin-left: 10%;
}
.jtzwp_options_page_form .settingsWrapper h2 {
    border-top: 1px dashed black;
    padding-top: 10px;
    margin-right: 12%;
}