/**
* Styles for wp-admin area
*/
.offset-s1 {
    margin-left: calc((100/(12/1))*1%) !important;
}
.offset-s2 {
    margin-left: calc((100/(12/2))*1%) !important;
}
.offset-s3 {
    margin-left: calc((100/(12/3))*1%) !important;
}

/**
* Widget Options Entry
*/
.widgetSubTitle {
    font-size: 1.5rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-top: 4px;
}

/**
* Styles for options pages
*/
.jtzwp_options_page_form .settingsWrapper table.form-table {
    margin-left: 10%;
}
.jtzwp_options_page_form .settingsWrapper h2 {
    border-top: 1px dashed black;
    padding-top: 10px;
    margin-right: 12%;
}
.jtzwp_options_page_form .settingsWrapper input.invalid, .jtzwp_options_page_form .settingsWrapper input[invalid="true"]  {
    background-color: red;
    color: white;
}
.jtzwp_options_page_form .settingsWrapper input[invalid="unknown"] {
    background-color: yellow;
    color: black;
}