.preloader {display:none;}

/**
* SPECIAL: Materialize extension stuff
*/
/** Different headings for collapsible sections based on expanded vs collapsed */
ul.collapsible li .whenExpanded {
    display: none;
}
ul.collapsible li .whenCollapsed {
    display: inherit;
}
ul.collapsible li.active .whenExpanded {
    display: inherit;
}
ul.collapsible li.active .whenCollapsed {
    display: none;
}

/**
* SPECIAL: Materialize Reset Stuff
*/
/* Set default so inherit below will work properly */
article ul, article ul li {
    list-style-type: disc !important;
}
article ul,li {
    padding-left: inherit !important;
    list-style-type: inherit !important;
}
article ul {
    margin-left: 2em;
}
article ol {
    padding-inline-start: 20px;
}
/* set again */
ul.collapsible, ul.collapsible li {
    padding-left: 0px !important;
    list-style-type: none !important;
}

/* Strange - they set <strong></strong> to 500, which is less than browser default. Let's reset it to browser default of 'bold' */
strong {
    font-weight: bold !important;
}

/**
* Materialize Cards - Special Fixed Footers
*/
.card .fixed-footer {
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-top: 1px solid black;
    margin-left: -24px !important;
    margin-bottom: -24px;
    padding-bottom: 0px;
}
.card .fixed-footer > .col {
    padding: 10px;
}
.card-content .fixed-footer {
    position: relative;
    width: calc(100% + 48px);
}
.card-reveal .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
.card-reveal .fixed-footer {
    margin-bottom: 0px;
}
.card .fixed-footer .col > .btn {
    width: 100%;
    padding: 0px 4px;
    overflow : hidden;
}
.card .fixed-footer .externalCodePageLink .externalCodePageLinkName {
    display : inline;
    max-width : 87%;
}
.card .fixed-footer .externalCodePageLink .externalCodePageLinkIcon {
    display : inline;
    max-width : 8%;
    margin-left: 5%;
}

/**
* Page Navigation
*/
.materializePaginationWrapper .pageNavBlock {
    margin: 4px 10px;
}

/**
* Main Materialize Breakpoints
*/
/** First breakpoint, .s */
@media only screen and (max-width: 600px){
    .card .fixed-footer .s12 .btn, .card .fixed-footer .s12 i {
        font-size: x-large !important;
    }
    .card .fixed-footer .s6 .btn, .card .fixed-footer .s6 i {
        font-size: large !important;
    }
}
/** Second breakpoint, .m */
@media only screen and (min-width:601px){
    .card .fixed-footer .m6 .btn, .card .fixed-footer .m6 i {
        font-size: medium !important;
    }
    .card .fixed-footer > .col.m6 {
        padding: 4px 2px;
    }
}
/** Third breakpoint, .l */
@media only screen and (min-width:992px){

}
/** Fourth breakpoint, .xl */
@media only screen and (min-width:1200px){

}